body {
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    background-color: #f4f4f4;
}

.logo {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.icons .icon {
    transition: transform 0.3s ease-in-out;
}

.icons .icon:hover {
    transform: scale(1.1);
}
